<% content_for :head do %>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css">
  <style>.hljs { background: transparent; }</style>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/languages/json.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
<% end %>

<% content_for :tail do %>
  <script>
    jQuery(document).ready(function () {
      jQuery('a.view-data').click(function (evt) {
        evt.preventDefault();
        jQuery('#event-' + jQuery(this).data('id')).toggle();
      });
    });
  </script>
<% end %>

<table class="data events">
  <colgroup>
    <col class="id" />
    <col class="stripe-id" />
    <col class="stripe-object" />
    <col class="stripe-type" />
    <col class="created" />
    <col class="action" />
  </colgroup>

  <tr>
    <th>ID</th>
    <th>Stripe ID</th>
    <th>Object</th>
    <th>Type</th>
    <th>Created</th>
    <th></th>
  </tr>

  <% @events.each_with_index do |e, index| %>
    <tr class="row-<%= index % 2 %>">
      <td class="right"><%= e.id %></td>
      <td><%= e.stripe_id %></td>
      <td><%= e.stripe_object %></td>
      <td><%= e.stripe_type %></td>
      <td class="center"><%= e.display_created_time %></td>
      <td class="center"><%= view_data_link(e) %></td>
    </tr>

    <tr id="event-<%= e.id %>" class="row-<%= index % 2 %> json-data">
      <td colspan="6"><%= pretty_json e.data %></td>
    </tr>
  <% end %>
</table>

<%= render :partial => '/shared/pagination', :locals => { :records => @events } %>
