<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <title>SUpost: Administrator</title>

    <%#= stylesheet_link_tag "http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css" %>
    <%= stylesheet_link_tag "http://yui.yahooapis.com/3.18.1/build/cssnormalize/cssnormalize-min.css" %>
    <%= stylesheet_link_tag 'admin' %>
    <%= javascript_include_tag :defaults %>
  </head>

  <body>
    <div id="login-form-container">
      <%= content_tag :div, flash[:alert], :class => :error if flash[:alert] %>

      <%= form_tag admin_login_path do -%>
        <div class="field">
          <%= label_tag :email %>
          <%= text_field_tag :email %>
        </div>

        <div class="field">
          <%= label_tag :password %>
          <%= password_field_tag :password %>
        </div>

        <div class="field">
          <%= submit_tag 'Login', :disable_with => 'Login' %>
          &nbsp;&nbsp;
          <%= link_to 'SUpost!', root_path %>
        </div>
      <% end %>
    </div>
  </body>
</html>
