<%- type = @payment.display_checkout_type -%>
Post: <%= @post.name %>
<%= post_url(@post) %>
Post Price: <%= price_tag @post.rounded_price %>

Email of Seller: <%= @payment.seller %>
Email of Buyer: <%= @payment.buyer %>

<%- if @payment.is_purchase? -%>
Service Fee: <%= price_tag @payment.rounded_fee %>
Amount Paid: <%= price_tag @payment.rounded_amount %>
<%- elsif receiver == :buyer -%>
Reservation Cost Paid: <%= price_tag @payment.rounded_amount %>
<%- end -%>
Date of <%= type.titlecase %>: <%= @payment.display_date %>
