Publish your post by pressing:
<%= publish_post_url(@post.access_token) %>

<%= @post.name.html_safe %>
Posted on: <%= @post.display_posted_at %> -- Stanford University

Do not send electronic payments to sellers: http://safety.supost.com
