You received a payment for your post on SUpost!

Please email the buyer to complete the purchase: <%= @payment.buyer %>.
You will receive the payout for your post after 5 business days. You will receive your payout by a PayPal money transfer sent to the email you used to make the post: <%= @post.email %>. A service fee is required to receive your payout. See http://pay.supost.com to view more information about receiving your payout through PayPal and the service fee. If you do not have a PayPal.com account, please make one with <%= @post.email %> at: https://www.paypal.com/signup

If you need to decline the purchase, please notify the buyer and SUpost of your decision to not complete the purchase at: http://pay.supost.com/questions.html

<%= render 'purchase_details', :receiver => :seller %>

When the buyer made the payment for your post, your post was deleted from the SUpost listings. You and the buyer have the responsibility to complete the transaction.

<%= render 'post_details', :receiver => :seller %>
