Your purchase on SUpost succeeded!

<%= render 'purchase_details', :receiver => :buyer %>

With the seller's email listed above, contact the seller directly in order to receive your item or service. Since your payment was successful, no other charges should be required for your post purchased above. The seller will receive payment after 5 business days through a PayPal money transfer.

By making a purchase, the post is deleted from the SUpost listings. You and the seller have the responsibility to complete the transaction.

The seller may decline your electronic purchase. In such cases, you will be refunded. To receive your refund, you must inform us within 3 business days of purchase at http://pay.supost.com/questions.html

<%= render 'post_details', :receiver => :buyer %>
