<%= @message.display_message.html_safe %>

From: <%= @message.email %>



<%= @post.name.html_safe %> - Posted: <%= @post.display_posted_at %>

To delete your post, use this link and click 'Delete your post.'
<%= publish_post_url(@post.access_token) %>

Do not send electronic payments to sellers: http://safety.supost.com

<%= post_url(@post.id) %>
