<h1>
  <%= @post.try(:name) || 'Messages' %>
</h1>

<table class="data messages">
  <colgroup>
    <col class="sender" />
    <col class="sent-at" />
    <col class="ip" />
    <col class="message" />
  </colgroup>

  <tr>
    <th>Sender</th>
    <th>Sent At</th>
    <th>Ip</th>
    <th>Message</th>
  </tr>

  <% @messages.each_with_index do |message, index| %>
    <tr class="row-<%= index % 2 %>">
      <td title="<%= message.email %>"><%= message.truncated_email(30) %></td>
      <td class="center"><%= message.display_created_at %></td>
      <td class="center"><%= message.ip %></td>
      <td><%= details_tag message.message %></td>
    </tr>
  <% end %>
</table>

<%= render :partial => '/shared/pagination', :locals => { :records => @messages } %>
