<!-- Google Ad Manager -->
<script type="text/javascript" src="http://partner.googleadservices.com/gampad/google_service.js">
</script>

<script type="text/javascript">
  GS_googleAddAdSenseService("ca-pub-5913108846433714");
  GS_googleEnableAllServices();
</script>

<script type="text/javascript">
  GA_googleAddSlot("ca-pub-5913108846433714", "supost_home_300x250");
</script>

<script type='text/javascript'>
  GA_googleFetchAds();
</script>
<!-- Google Ad Manager -->


<!-- Google Ad Manager 2 -->
<script type="text/javascript">
  var googletag = googletag || {};
  googletag.cmd = googletag.cmd || [];
  (function() {
    var gads = document.createElement('script');
    gads.async = true;
    gads.type = 'text/javascript';
    var useSSL = 'https:' == document.location.protocol;
    gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
    var node = document.getElementsByTagName('script')[0];
    node.parentNode.insertBefore(gads, node);
  })();
</script>

<script type="text/javascript">
  googletag.cmd.push(function() {
    googletag.defineSlot('/18898013/SUpost_Homepage_BannerHigh_Top_300x250', [300, 250], 'div-gpt-ad-1376573672379-0').addService(googletag.pubads());
    googletag.defineSlot('/18898013/SUpost_Homepage_CompanyLogo_Top_300x100', [300, 100], 'div-gpt-ad-1376573672379-1').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.enableServices();
  });
</script>
