<table class="data payments">
  <colgroup>
    <col class="id" />
    <col class="post" />
    <col class="seller" />
    <col class="buyer" />
    <col class="checkout-type" />
    <col class="price" />
    <col class="amount" />
    <col class="rate" />
    <col class="date" />
    <col class="action" />
  </colgroup>

  <tr>
    <th>ID</th>
    <th>Post</th>
    <th>Seller</th>
    <th>Buyer</th>
    <th>Type</th>
    <th>Price</th>
    <th>Amount</th>
    <th>Rate</th>
    <th>Date</th>
    <th><%= image_tag 'admin/synced.png' %></th>
  </tr>

  <% @payments.each_with_index do |p, index| %>
    <tr class="row-<%= index % 2 %>">
      <td class="right"><%= p.id %></td>
      <td><%= readonly_link(p.post) %></td>
      <td><%= p.seller %></td>
      <td><%= p.buyer %></td>
      <td class="center"><%= p.human_checkout_type %></td>
      <td class="right"><%= price_tag p.rounded_price %></td>
      <td class="right"><%= price_tag p.rounded_amount %></td>
      <td class="right"><%= p.rate %></td>
      <td class="center"><%= p.display_date('%m/%d/%Y') %></td>
      <td class="center"><%= stripe_synced_indicator p %></td>
    </tr>
  <% end %>
</table>

<%= render :partial => '/shared/pagination', :locals => { :records => @payments } %>
