<% content_for :tail do %>
  <script type="text/javascript">
    var SELECTOR = 'option[value="<%= @post.subcategory_id %>"]',
        GROUPED_SUBCATEGORIES = <%= @grouped_subcategories.to_json %>;

    jQuery(document).ready(function () {
      jQuery('#post_category_id').change(function () {
        var category, subcategories, html;

        category = jQuery(this).val();
        subcategories = GROUPED_SUBCATEGORIES[category];
        html = jQuery.map(subcategories, function (subcategory) {
          return '<option value="' + subcategory[1] + '">' + subcategory[0] + '</option>';
        });

        jQuery('#post_subcategory_id').html(html).find(SELECTOR).attr('selected', 'selected');
      });
    });
  </script>
<% end %>

<%= form_for [:admin, @post], :html => { :multipart => true } do |f| %>
  <%= render :partial => '/shared/notice' %>

  <%= error_messages_for :post %>

  <table class='post-form'>
    <colgroup>
      <col class='label'>
      <col class='value'>
    </colgroup>

    <tr>
      <td><%= f.label :category_id %></td>
      <td><%= f.select :category_id, @categories, {}, :disabled => @post.for_off_campus_jobs? %></td>
    </tr>

    <tr>
      <td><%= f.label :subcategory_id %></td>
      <td><%= f.select :subcategory_id, @subcategories, {}, :disabled => @post.for_off_campus_jobs? %></td>
    </tr>

    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name, :maxlength => 255 %></td>
    </tr>

    <tr>
      <td><%= f.label :email %></td>
      <td><%= f.text_field :email, :maxlength => 255 %></td>
    </tr>

    <% if @post.new_record? %>
      <tr>
        <td><%= label_tag :notify_email, 'Notify Email?' %></td>
        <td><%= check_box_tag :notify_email, true, params[:notify_email] == 'true' %></td>
      </tr>
    <% end %>

    <% if @post.price_required? %>
      <tr>
        <td><%= f.label :price %></td>
        <td><%= f.number_field :price, :min => 10, :max => 1_000_000, :step => 0.01, :maxlength => 10 %></td>
      </tr>
    <% end %>

    <tr>
      <td class="top"><%= f.label :body %></td>
      <td><%= f.text_area :body, :maxlength => 32000 %></td>
    </tr>

    <tr>
      <td><%= f.label :status %></td>
      <td><%= f.select :status, Post::STATUS_NAMES.map { |k, v| [v, k] } %></td>
    </tr>

    <% Post::PHOTO_FIELDS.each do |field| %>
      <tr>
        <td><%= f.label field %></td>
        <td>
          <% unless @post.new_record? %>
            <% photo_url = @post.send("#{field}_url") %>
            <% if photo_url %>
              <%= image_tag photo_url, :class => 'post-image' %>
            <% end %>
          <% end %>
          <%= f.file_field field %>
        </td>
      </tr>
    <% end %>

    <tr>
      <td>&nbsp;</td>
      <td>
        <% button_text = @post.new_record? ? 'Create' : 'Update' %>
        <%= f.submit button_text, :disable_with => button_text %>
        &nbsp;&nbsp;
        <%= link_to 'Cancel', admin_root_path %>
      </td>
    </tr>
  </table>
<% end %>
