<table class="data posts">
  <colgroup>
    <col class="id" />
    <col class="name" />
    <col class="price" />
    <col class="category" />
    <col class="subcategory" />
    <col class="status" />
    <col class="poster" />
    <col class="posted-at" />
    <col class="action" />
    <col class="action" />
    <col class="action" />
    <col class="action" />
    <col class="action" />
  </colgroup>

  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Category</th>
    <th>Subcategory</th>
    <th>Status</th>
    <th>Poster</th>
    <th>Posted At</th>
    <th><%= image_tag 'admin/dollar.png', :title => 'Enable purchases?' %></th>
    <th><%= image_tag 'site/camera.gif', :class => 'icon-photo', :title => 'Have photos?' %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @posts.each_with_index do |p, index| %>
    <tr class="row-<%= index % 2 %>">
      <td class="right"><%= p.id %></td>
      <td title="<%= p.name %>"><%= edit_link(p) %> </td>
      <td class="right"><%= p.display_price %></td>
      <td class="center"><%= p.category_short_name %></td>
      <td class="center"><%= p.subcategory_name %></td>
      <td class="center"><%= p.status_name %></td>
      <td title="<%= p.email %>"><%= similar_posts_link(p) %></td>
      <td class="center"><%= p.formatted_posted_at %></td>
      <td class="center"><%= purchase_indicator(p) %></td>
      <td class="center"><%= photo_indicator(p) %></td>
      <td class="center"><%= next_action_link(p) %></td>
      <td class="center"><%= publish_link(p) %></td>
      <td class="center"><%= messages_of_post_link(p) %></td>
    </tr>
  <% end %>
</table>

<%= render :partial => '/shared/pagination', :locals => { :records => @posts } %>
