<% content_for :tail do %>
  <script type="text/javascript">
    jQuery(document).ready(function () {
      jQuery('a.toggle-post-details').click(function (evt) {
        evt.preventDefault();
        var sender, postID;
        sender = jQuery(evt.target);
        postId = sender.data('id');
        jQuery("#" + postId + "-details").toggle();
      });

      jQuery('#filter-status').change(function (evt) {
        evt.preventDefault();
        jQuery('form.finder-options').submit();
      });
    });
  </script>
<% end %>

<%= form_tag request.path, :method => :get, :class => 'finder-options' do %>
  <label for="filter-status">Status:</label>
  <%= select_tag :status, options_for_select(Post::FILTER_STATUS_NAMES, :selected => params[:status]), :id => 'filter-status' %>
<% end %>

<table class="data posts">
  <colgroup>
    <col class="id" />
    <col class="name" />
    <col class="price" />
    <col class="category" />
    <col class="subcategory" />
    <col class="status" />
    <col class="posted-at" />
    <col class="action" />
    <col class="action" />
    <col class="action" />
    <col class="action" />
    <col class="action" />
  </colgroup>

  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Category</th>
    <th>Subcategory</th>
    <th>Status</th>
    <th>Posted At</th>
    <th><%= image_tag 'admin/dollar.png', :title => 'Enable purchases?' %></th>
    <th><%= image_tag 'site/camera.gif', :class => 'icon-photo', :title => 'Have photos?' %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @posts.each_with_index do |p, index| %>
    <tr class="row-<%= index % 2 %>">
      <td class="right"><%= p.id %></td>
      <td title="<%= p.name %>"><%= readonly_link(p) %></td>
      <td class="right"><%= p.display_price %></td>
      <td class="center"><%= p.category_short_name %></td>
      <td class="center"><%= p.subcategory_name %></td>
      <td class="center"><%= p.status_name %></td>
      <td class="center"><%= p.formatted_posted_at %></td>
      <td class="center"><%= purchase_indicator(p) %></td>
      <td class="center"><%= photo_indicator(p) %></td>
      <td class="center"><%= next_action_link(p) %></td>
      <td class="center"><%= publish_link(p) %></td>
      <td class="center"><%= messages_of_post_link(p) %></td>
    </tr>
    <tr id="post-<%= p.id %>-details" class="row-<%= index % 2 %> post-details">
      <td colspan="12"><%= details_tag p.body %></td>
    </tr>
  <% end %>
</table>

<%= render :partial => '/shared/pagination', :locals => { :records => @posts } %>
