<div class="addFormCategory">
  <div class="addFormHeader">What type of post is this? </div>
  <ul>
    <li><%= link_to 'for sale / wanted', add_post_path(Category::FOR_SALE) %></li>
    <li><%= link_to 'personals', add_post_path(Category::PERSONALS) %></li>
    <li><%= link_to 'housing (offering)', add_post_path(Category::HOUSING_OFFERING) %></li>
    <li><%= link_to 'housing (need)', add_post_path(Category::HOUSING_NEED) %></li>
    <li><%= link_to 'community', add_post_path(Category::COMMUNITY) %></li>
    <li><%= link_to 'service offered', add_post_path(Category::SERVICES) %></li>
    <li><%= link_to 'campus job', add_post_path(Category::CAMPUS_JOBS) %></li>
    <li><%= link_to 'job off-campus', buy_job_post_link %></li>
    <!--
    <li><%= link_to 'resume', add_post_path(Category::RESUMES, :sub => Subcategory::RESUMES_GENERAL) %></li>
    -->
  </ul>
</div>
