<div class="addFormContent">
  <div class="addFormBanner">
    <span class="collegeAddForm">(Stanford)</span>
  </div>

  <% if @category.blank? %>
    <%= render :partial => 'select_category' %>
  <% elsif @subcategory.blank? %>
    <%= render :partial => 'select_subcategory' %>
  <% else %>
    <%= render :partial => 'add_form' %>
  <% end %>
</div>
