<div id="posting-confirmation" class="confirm-msg">
  <h2>You will receive an email shortly,</h2> containing a link that will allow you to

  <div class="message">
    publish your post.
    <div>
      <span class="important" style="font-weight:bold">PLEASE KEEP THIS EMAIL</span>
      -- you will need it to delete your post when you are done.
      <br /><br />
      <div>
        Your email provider might misfile this mail as spam.
        <span style="font-weight:bold">Please check your spam folders.</span>
        <br /><br />
        If you do not receive this email, please consult our <%= link_to 'help pages', help_path %>.
      </div>
    </div>
  </div>
</div>

<div style="margin-top:20px;">
  Thank you for using SUpost!
  <ul>
    <li><%= link_to 'Start another post.', new_post_path %></li>
    <li><%= link_to 'Return to SUpost.', root_path %></li>
  </ul>
</div>
