<% if @post.on_sale? %>
<div id="post-checkout">
  <table id="post-checkout-table">
    <tr>
      <td>
        <%= render :partial => '/shared/stripe_checkout', :locals => { :post => @post } %>
      </td>
    </tr>
    <% if @post.reservable? %>
      <tr>
        <td class="reservation-explaination">
          <%= link_to 'Why Reserve?', 'javascript:void(0);', :id => 'why-reserve' %>
          
          <ul id="benefits-of-reservation">
            <li>- Stake Your Claim: Delist the Post</li>
            <li>- Signal You're a Serious Buyer</li>
            <li>- Get the Seller's Stanford Email</li>
            <li>- Safety: Know Who You're Dealing With</li>
            <li class="link">
              <%= link_to 'How does it work?', 'http://reserve.supost.com', :target => '_blank' %>
            </li>
          </ul>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<% end %>

<% content_for :tail do %>
  <script type="text/javascript">
    jQuery(document).ready(function () {
      jQuery('#why-reserve').click(function (evt) {
        evt.preventDefault();
        jQuery(evt.target).hide();
        jQuery('#benefits-of-reservation').show();
      });
    });
  </script>
<% end %>
