<div id="message-box">
  <table id="message-table">
    <tr>
      <td>
        <div class="email-title">Message Poster</div>
        <%= form_for @message, :url => post_path(@post.id) do |f| %>
          <div class="email-label">Message:</div>
          <div>
            <%= f.text_area :message, :maxlength => 32000 %>
            <%= error_message_on :message, :message %>
          </div>

          <div class="email-label">Your Email:</div>
          <div>
            <%= f.text_field :email, :maxlength => 70 %>
            <%= error_message_on :message, :email %>
          </div>

          <div class="messagePosterBtn">
            <%= f.submit 'Send!', :disable_with => 'Sending...', :tabindex => 1 %>
          </div>
        <% end %>
      </td>
    </tr>
  </table>
</div>
