<div class="no-spam no-housing-spam milder <%= @post && @post.new_record? ? 'new-post' : 'edit-post' %>">
  Be sure to follow official Student Housing Sublicensing policies:
  <%= link_to 'http://sublicense.Stanford.edu', 'http://sublicense.Stanford.edu', :target => '_blank' %>
</div>
