<div id="stripe-confirmation">
  <%- type = payment.display_checkout_type -%>

  <h2>Your <%= type %> on SUpost succeeded!</h2>

  <p>
    <span class="seller-email">Email of Seller:</span>
    <%= mail_to payment.seller, payment.seller, :subject => post.mail_subject, :class => 'seller-email' %>
  </p>

  <p>
    <% if payment.is_purchase? %>
      With the seller's email listed above, contact the seller directly in order to receive your item or service.
      Since your payment was successful, no other charges should be required for your post purchased above.
      The seller will receive payment after 5 business days through a PayPal money transfer.
    <% else %>
      With the seller's email listed above, contact the seller directly.
      This notification is a confirmation of your reservation for the post.
      The money spent for this reservation will not go to the seller.
      The seller will require you to pay the post price listed above in order for you to receive the item.
    <% end %>
  </p>

  <div class="oneline">Post: <%= mail_to post.email, post.name, :subject => post.mail_subject %></div>
  <div class="oneline"><%= link_to post_url(post), post_url(post) %></div>
  <div class="oneline">Post Price: <%= price_tag post.rounded_price %></div>
  <% if payment.is_purchase? %>
    <div class="oneline">Service Fee: <%= price_tag payment.rounded_fee %></div>
    <div class="oneline">Amount Paid: <%= price_tag payment.rounded_amount %></div>
  <% else %>
    <div class="oneline">Reservation Cost Paid: <%= price_tag payment.rounded_amount %></div>
  <% end %>
  <div class="oneline">Date of <%= type.titlecase %>: <%= payment.display_date %></div>

  <p>
    By making a <%= type %>, the post is deleted from the SUpost listings.
    You and the seller have the responsibility to complete the
    <%= payment.is_purchase? ? 'transaction' : 'purchase' %>.
  </p>

  <p>
    <% if payment.is_purchase? %>
      The seller may decline your electronic purchase.
      In such cases, you will be refunded.
      To receive your refund, you must inform us within 3 business days of purchase at
    <% else %>
      The seller may decline your reservation.
      In such cases, you will be refunded.
      To receive your refund, you must inform us within 3 business days at
    <% end %>
    <%= link_to 'http://pay.supost.com/questions.html', 'http://pay.supost.com/questions.html' %>
  </p>

  <p>
    More information about SUpost Pay can be found at
    <%= link_to 'http://pay.supost.com', 'http://pay.supost.com' %>.
  </p>

  <p>
    If you have any questions or concerns about your <%= type %>, you may submit a question at
    <%= link_to 'http://pay.supost.com/questions.html', 'http://pay.supost.com/questions.html' %>
  </p>

  <div class="oneline purchase-details">Details of your <%= type.titlecase %>:</div>
  <div class="oneline">Post: <%= post.name %></div>
  <div class="oneline"><%= post_url(post) %></div>
  <div class="oneline">Post Price: <%= price_tag post.rounded_price %></div>
  <div class="oneline">Date Posted: <%= post.display_posted_at %></div>
  <div class="oneline">Email of Seller: <%= post.email %></div>
  <div class="oneline">Email of Buyer: <%= @payment.buyer %></div>

  <div class="notes">
    <%= link_to 'Save and print this page for your records.', 'javascript:window.print();' %>
  </div>
</div>
