<div id="posting-confirmation" class="confirm-msg activate">
  <div class="thankyou">Thank you</div>

  Your post is now published.

  <div class="doStuff">
    <span id="view">
      <%= link_to 'View your post', post_path(@post.id) %>
    </span>
  </div>

  <div class="doStuff">
    <span id="delete">
      <%= link_to 'Delete your post', delete_post_path(@post.access_token) %>
    </span>
  </div>

  <div class="return">Return to <%= link_to 'SUpost', root_path %>.</div>
</div>
