<h1>Spammers (Blocked Posters)</h1>

<% if @spammer && @spammer.errors.any? %>
  <%= render :partial => '/shared/errors', :locals => { :record => @spammer } %>
<% else %>
  <%= render :partial => '/shared/notice' %>
<% end %>

<%= form_for [:admin, @spammer] do |f| %>
  <table class='scammer-form'>
    <colgroup>
      <col class='label'>
      <col class='value'>
      <col class='button'>
      <col class='link'>
    </colgroup>

    <tr>
      <td><%= f.label :email, 'New Spammer:' %></td>
      <td><%= f.text_field :email, :maxlength => 255 %></td>
      <td><%= f.submit 'Add', :disable_with => 'Add' %></td>
    </tr>
  </table>
<% end %>

<table class="data scammers">
  <colgroup>
    <col class="id" />
    <col class="email" />
    <col class="created-at" />
    <col class="action" />
    <col class="action" />
  </colgroup>

  <tr>
    <th>ID</th>
    <th>Email</th>
    <th>Created At</th>
    <th></th>
    <th></th>
  </tr>

  <% @spammers.each_with_index do |spammer, index| %>
    <tr class="row-<%= index % 2 %>">
      <td class="right"><%= spammer.id %></td>
      <td><%= posts_of_spammer_link spammer, true %></td>
      <td class="center"><%= spammer.display_created_at %></td>
      <td class="center"><%= posts_of_spammer_link spammer %></td>
      <td class="center"><%= destroy_spammer_link spammer %></td>
    </tr>
  <% end %>
</table>

<%= render :partial => '/shared/pagination', :locals => { :records => @spammers } %>
