<% content_for :head do %>
  <%= stylesheet_link_tag 'job' %>
<% end %>

<div id="job_post_index"> 
  <table id="job_post_table"> 
    <tr> 
      <td colspan="2"> 
        <div id="job_post_header_text"> 
          <div id="job_post_header_title">Post Your Jobs to SUpost</div>	
          <div id="job_post_header_phoneEmail"> 
            <div id="job_post_header_phone">Questions? Call: 650.681.9731 or 1.888.372.8478</div>						
            <div id="job_post_header_email"><a href="mailto:contact@supost.com">contact@supost.com</a></div>						
          </div>	
        </div> 

        <div id="job_post_header_photo"> 
          <%= image_tag 'site/JobHeaderPhoto.jpg' %>
        </div>			
      </td> 
    </tr> 

    <tr> 
      <td id="job_post_col1"> 
        <div id="job_post_form"> 
          <script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

          <script type="text/javascript">
            var m7x1x7 = new WufooForm();
            m7x1x7.initialize({
              'userName':'suresume', 
              'formHash':'m7x1x7', 
              'autoResize':true,
              'height':'494', 
              'ssl':true});
            m7x1x7.display();
          </script>
        </div> 

        <div id="stanford_daily"> 
          <div id="stanford_daily_logo"><%= image_tag 'site/StanfordDailyLogo.jpg' %></div>	
          <div class="stanford_daily_article">
            "SUPost.com This Craigslist of Stanford has some deals on books, but it’s best for buying used course readers, not to mention furniture and bikes....." &nbsp;
            <a href="http://www.stanforddaily.com/2010/09/24/top-five-textbooks/" target="_blank" title="">Top five textbooks.  Stanford Daily. 9/24/2010</a>
          </div> 
          <div class="stanford_daily_article">
            "Junior Emma Yuen, president of Students for a Sustainable Stanford, has also endorsed the site&rsquo;s goal for reducing waste...." &nbsp;
            <a href="http://www.stanforddaily.com/" target="_blank" title="">Site creates campus e-market. Stanford Daily.  5/30/2006</a>
          </div> 
          <div class="stanford_daily_article">
            "SUPost.com and the Stanford Daily have officially teamed up to better serve the Stanford community...." &nbsp;
            <a href="http://www.stanforddaily.com/" target="_blank" title="">SUpost and Stanford Daily Join Forces.  Stanford Daily.  11/13/2006</a>
          </div> 
        </div>		

        <div class="trial">
          <%= link_to 'Trial Sign Up', trial_sign_up_link %>
        </div>
      </td> 

      <td id="job_post_col2"> 
        <div id="already_subscriber"> 
          <%= link_to 'Already Subscribed?', subscriber_path %>
        </div> 

        <div class="signup_div">
          <%= link_to 'Sign Up', employer_sign_up_link, :class => "signup_button round" %>
        </div>

        <div id="why_post"> 
          <div id="why_post_title">Why Post Your Job on SUpost?</div> 
          <div id="why_post_body"> 
            <div class="why_post_paragraph">SUpost gets 80,000 visits and 600,000 page views per month; 80% of visitors are Stanford professionals, students and alumni.</div>  
            <div class="why_post_paragraph">SUpost provides access to Stanford students and increases the visibility of your job openings.  Stanford <%= link_to 'ranks', stanford_rank_link, :onclick => 'window.open(this.href);return false;' %> as the #1 best Computer Science university in the United States.  These talented Stanford students want to know about your job opportunities!</div> 
            <div class="why_post_paragraph"><%= link_to 'Sign Up', employer_sign_up_link %> to post a job for $495 per month.</div>	
          </div> 
        </div>			

        <div id="video_student"> 
          <div id="meet_a_stanford_student">Meet a Stanford Student</div> 
          <object width='300' height='247'>
            <param name="movie" value="http://www.youtube.com/v/jRjw_fD3Mpg"></param>
            <param name="wmode" value="transparent"></param>
            <param name="allownetworking" value="internal"></param>
            <embed src="http://www.youtube.com/v/jRjw_fD3Mpg" type="application/x-shockwave-flash" allownetworking="internal" wmode="transparent" width='300' height='247'></embed>
          </object> 
        </div> 
      </td> 
    </tr> 
  </table> 
</div> 
