<div id='posting-confirmation' class='confirm-msg'> 
  <h1>Thank you</h1>
</div> 
<br />

<div id="wufoo-p7p5x7">
  Fill out my <a href="http://suresume.wufoo.com/forms/p7p5x7">online form</a>.
</div>

<script type="text/javascript">
  var p7p5x7;
  (function(d, t) {
    var s = d.createElement(t);
    var options = {
      'userName':'suresume', 
      'formHash':'p7p5x7', 
      'autoResize':true,
      'height':'497',
      'async':true,
      'header':'show', 
      'ssl':true
    };
    s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
    s.onload = s.onreadystatechange = function() {
      var rs = this.readyState;
      if (rs) if (rs != 'complete') if (rs != 'loaded') return;
      try {
        p7p5x7 = new WufooForm();
        p7p5x7.initialize(options);p7p5x7.display();
      } catch (e) {}
    };
    var scr = d.getElementsByTagName(t)[0], par = scr.parentNode;
    par.insertBefore(s, scr);
  })(document, 'script');
</script>
