<% categories.each do |category| %>
  <table class="<%= category.code %> category">
    <tr>
      <td class="category_header" colspan="<%= [category.columns.size, 1].max %>">
        <div class="category-header-title <%= category.icon %>">
          <%= link_to category.name, search_by_cat_path(category.id) %>
        </div>

        <% if @time_ago[category.id].present? %>
          <span class="category-header-timeAgo">
            (<%= time_ago_in_words @time_ago[category.id] %>)
          </span>
        <% end %>
      </td>
    </tr>

    <% if category.columns.present? %>
      <tr>
        <% category.columns.each_with_index do |subcategories, idx| %>
          <td class="categoryColumn cat-col-<%= idx %>">
            <ul>
              <% subcategories.each do |(id, name, is_cat)| %>
                <% if is_cat %>
                  <li><%= link_to name, search_by_cat_path(id) %></li>
                <% else %>
                  <li><%= link_to name, search_by_sub_path(id) %></li>
                <% end %>
              <% end %>
            </ul>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
