<div class="about">
  <div class="infobox">
    <div class="infobox-header">about SUpost</div>

    <div class="paragraph">
      <%= image_tag "site/Greg.jpg", :class => "infobox-greg" %>

      <div>
        Welcome to SUpost. I built SUpost to enable Stanford students and staff to buy and sell their stuff. SUpost requires an @stanford.edu email in order to post. So, you can be sure that all items posted on SUpost are from people affiliated with Stanford. (The only exception to this email restriction is in the off-campus jobs section, in which anyone can post a job for a fee -- to help us cover the costs of operation.)
      </div>
		</div>
		
		<div class="paragraph">
      SUpost is the #1 marketplace at Stanford! SUpost gets over 1,000,000 page views per month from Stanford students, alumni, staff and faculty. Need to find housing? Check out the SUpost housing listings. Got something to sell? Post it! Looking to sublet your apartment? Post it! Need a bike for your ride to class through campus?  Post it! Post it! Tell everyone you know at Stanford to post one item they want to sell on SUpost, and watch this site continue to be an incredibly useful resource at Stanford. 
		</div>
			
    <div class="paragraph">Greg Wientjes <br/><br/><br/><br/> </div>
	</div>
    
	<div class="infobox management">
    <div class="infobox-header">SUpost management</div>
		
    <div class="infobox-contents">
      <div class="founder">Greg Wientjes</div>
      <div class="founder-title">Co-Founder</div>
      <div class="founder-description">Greg Wientjes received a PhD, MS and BS, all from Stanford University.</div>
    </div>
  </div>
</div>
