<% content_for :head do %>
  <%= stylesheet_link_tag 'stripe.css' %>
<% end %>

<table>
  <tr id="mainContent">
    <td id="leftNavBar">
      <div id="postToDiv">
        <%= link_to "post to classifieds", new_post_path %>
        <div class="at_stanford_required">@stanford.edu required</div>
      </div>

      <div class="buy_job_post">
        <%= link_to 'buy job post', buy_job_post_link %>
      </div>

      <table id="classifieds">
        <tr>
          <td>
            <%= render :partial => 'overview' %>

            <%= render :partial => 'categories', :locals => { :categories => Category.first_active_categories } %>

            <div class="buy_job_post_lower">
              <%= link_to 'buy job post', buy_job_post_link %>
            </div>

            <%= render :partial => 'categories', :locals => { :categories => Category.second_active_categories } %>

            <div class="appStoreDownload">
              <%= link_to image_tag('site/AppStore.png', :alt => 'Download on AppStore'), sum_app_link, :target => '_blank' %>
            </div>
          </td>
        </tr>
      </table>
    </td>

    <td id="indexBody">
      <table id="indexBodyContent">
        <tr>
          <td colspan="2" id="tickerTd">
            <div class="post_photos clearfix">
              <% @photo_posts.each_with_index do |post, idx| %>
                <div class="post_photo" title="<%= post.name %>">
                  <%= link_to post_photo_tag(post.ticker_photo, :class => 'photo_image_tag', :alt => "Ticker #{idx}"), post_path(post.id) %>

                  <div class="post_photo_title">
                    <%= link_to post.truncated_name(21), post_path(post.id) %>
                  </div>

                  <%= post_time_tag(post) %>
                </div>
              <% end %>
            </div>
          </td>
        </tr>

        <tr>
          <td id="recentPosts">
            <div class="moduleTitle">
              <%= link_to 'recently posted', search_path %>
            </div>

            <% @posts.each do |post| %>
              <div class="one-result">
                <%= post_title_tag post %>
                <%= post_time_tag post %>
                <%= stripe_checkout_link(post) %>
              </div>
            <% end %>
          </td>

          <td id="thoughts">
            <% if @job_posts.present? %>
              <div class="moduleTitle">
                <%= link_to 'featured job posts', search_by_cat_path(Category::OFF_CAMPUS_JOBS) %>
              </div>

              <div class="job-posts-container">
                <% @job_posts.each do |post| %>
                  <div class="one-result">
                    <%= post_title_tag post %>
                  </div>
                <% end %>
              </div>
            <% end %>

            <div class="homepage-right-column-info">
              <%= link_to 'Safety: Never wire transfer money and avoid fake checks.', safety_link, :target => '_blank' %>
              <div class="notSponsored">SUpost is not sponsored by, endorsed by, or affiliated with Stanford University.</div>
            </div>

            <%= render :partial => 'google_ad' %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
