<%= form_for [:admin, @user] do |f| %>
  <%= render :partial => '/shared/errors', :locals => { :record => @user } %>

  <table class='user-form'>
    <colgroup>
      <col class='label'>
      <col class='value'>
    </colgroup>

    <tr>
      <td><%= f.label :first_name %></td>
      <td><%= f.text_field :first_name, :maxlength => 255 %></td>
    </tr>

    <tr>
      <td><%= f.label :last_name %></td>
      <td><%= f.text_field :last_name, :maxlength => 255 %></td>
    </tr>

    <tr>
      <td><%= f.label :email %></td>
      <td><%= f.text_field :email, :maxlength => 255 %></td>
    </tr>

    <tr>
      <td><%= f.label :password %></td>
      <td><%= f.password_field :password, :maxlength => 255 %></td>
    </tr>

    <tr>
      <td><%= f.label :password_confirmation, 'Confirmation' %></td>
      <td><%= f.password_field :password_confirmation, :maxlength => 255 %></td>
    </tr>

    <tr>
      <td><%= f.label :disabled %></td>
      <td><%= f.check_box :disabled %></td>
    </tr>

    <tr>
      <td>&nbsp;</td>
      <td>
        <% button_text = @user.new_record? ? 'Create' : 'Update' %>
        <%= f.submit button_text, :disable_with => button_text %>
        &nbsp;&nbsp;
        <%= link_to 'Cancel', admin_users_path %>
      </td>
    </tr>
  </table>
<% end %>
