<div id="inner-main">
  <h1>Change Password</h1>

  <%= form_for [:admin, @user], :url => admin_password_path, :html => { :autocomplete => 'off' } do |f| %>
    <%= render :partial => '/shared/notice' %>
    <%= render :partial => '/shared/errors', :locals => { :record => @user } %>

    <table class='user-form'>
      <colgroup>
        <col class='label'>
        <col class='value'>
      </colgroup>

      <tr>
        <td><%= label_tag :password, 'Current password' %></td>
        <td><%= password_field_tag :password, params[:password], :maxlength => 255 %></td>
      </tr>

      <tr>
        <td><%= f.label :password, 'New password' %></td>
        <td><%= f.password_field :password, :maxlength => 255 %></td>
      </tr>

      <tr>
        <td><%= f.label :password_confirmation, 'Confirmation' %></td>
        <td><%= f.password_field :password_confirmation, :maxlength => 255 %></td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>
          <%= f.submit 'Change', :disable_with => 'Change' %>
          &nbsp;&nbsp;
          <%= link_to 'Profile', admin_profile_path %>
          &nbsp;&nbsp;
          <%= link_to 'Cancel', admin_root_path %>
        </td>
      </tr>
    </table>
  <% end %>
</div>
