<div id="inner-main">
  <h1>Profile</h1>

  <%= form_for [:admin, @user], :url => admin_profile_path do |f| %>
    <%= render :partial => '/shared/notice' %>
    <%= render :partial => '/shared/errors', :locals => { :record => @user } %>

    <table class='user-form'>
      <colgroup>
        <col class='label'>
        <col class='value'>
      </colgroup>

      <tr>
        <td><%= f.label :first_name %></td>
        <td><%= f.text_field :first_name, :maxlength => 254 %></td>
      </tr>

      <tr>
        <td><%= f.label :last_name %></td>
        <td><%= f.text_field :last_name, :maxlength => 254 %></td>
      </tr>

      <tr>
        <td><%= f.label :email %></td>
        <td><%= f.text_field :email, :maxlength => 254 %></td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>
          <%= f.submit 'Update', :disable_with => 'Update' %>
          &nbsp;&nbsp;
          <%= link_to 'Change Password', admin_password_path %>
          &nbsp;&nbsp;
          <%= link_to 'Cancel', admin_root_path %>
        </td>
      </tr>
    </table>
  <% end %>
</div>
