<h1>Suspicious Emails</h1>

<%= render :partial => '/shared/notice' %>

<%= form_tag find_admin_scammers_path, :class => 'finder-options', :method => :get do %>
  <%= label_tag :filter_by, 'Filter By:' %>
  <%= select_tag :filter_by, options_for_select(ScammerFinder::FILTER_BY_OPTIONS, :selected => params[:filter_by]) %>

  <%= label_tag :sort_by, 'Sort By:' %>
  <%= select_tag :sort_by, options_for_select(ScammerFinder::SORT_BY_OPTIONS, :selected => params[:sort_by]) %>

  <%= label_tag :min_messages, 'Mininum Messages:' %>
  <%= number_field_tag :min_messages, params[:min_messages], :in => ScammerFinder::MESSAGE_RANGE, :step => 5 %>

  <%= submit_tag 'Find', :name => nil, :disable_with => 'Find' %>
<% end %>

<table class="data scammers">
  <colgroup>
    <col class="email" />
    <col class="total-messages" />
    <col class="recent-messages" />
    <col class="created-at" />
    <col class="action" />
    <col class="action" />
  </colgroup>

  <tr>
    <th>Email</th>
    <th>Total Messages</th>
    <th>Recent Messages</th>
    <th>Last Message Sent At</th>
    <th></th>
    <th></th>
  </tr>

  <% @messages.each_with_index do |message, index| %>
    <tr class="row-<%= index % 2 %>">
      <td><%= similar_messages_link message, true %></td>
      <td class="right"><%= message.total_messages %></td>
      <td class="right"><%= message.recent_messages %></td>
      <td class="center"><%= message.display_created_at %></td>
      <td class="center"><%= similar_messages_link message %></td>
      <td class="center"><%= report_scam_link message %></td>
    </tr>
  <% end %>
</table>
