<h1>Scammers</h1>

<% if @scammer && @scammer.errors.any? %>
  <%= render :partial => '/shared/errors', :locals => { :record => @scammer } %>
<% else %>
  <%= render :partial => '/shared/notice' %>
<% end %>

<%= form_for [:admin, @scammer] do |f| %>
  <table class='scammer-form'>
    <colgroup>
      <col class='label'>
      <col class='value'>
      <col class='button'>
      <col class='link'>
    </colgroup>

    <tr>
      <td><%= f.label :email, 'New Scammer:' %></td>
      <td><%= f.text_field :email, :maxlength => 255 %></td>
      <td><%= f.submit 'Add', :disable_with => 'Add' %></td>
      <td class="right"><%= link_to 'Find Suspicious Emails!', find_admin_scammers_path %></td>
    </tr>
  </table>
<% end %>

<table class="data scammers">
  <colgroup>
    <col class="id" />
    <col class="email" />
    <col class="created-at" />
    <col class="action" />
    <col class="action" />
  </colgroup>

  <tr>
    <th>ID</th>
    <th>Email</th>
    <th>Created At</th>
    <th></th>
    <th></th>
  </tr>

  <% @scammers.each_with_index do |scammer, index| %>
    <tr class="row-<%= index % 2 %>">
      <td class="right"><%= scammer.id %></td>
      <td><%= messages_of_scammer_link scammer, true %></td>
      <td class="center"><%= scammer.display_created_at %></td>
      <td class="center"><%= messages_of_scammer_link scammer %></td>
      <td class="center"><%= destroy_scammer_link scammer %></td>
    </tr>
  <% end %>
</table>

<%= render :partial => '/shared/pagination', :locals => { :records => @scammers } %>
