<tr>
  <td colspan="4" id="hi-path">
    <div class="bread_crumb_header" id="bread_crumb_header">
      <%= link_to 'SUpost', root_path %>
      &raquo;
      <%= link_to'Stanford, California', root_path %>
      <%= show_breadcrumb %>
    </div>

    <div class="current-time" id="time_header">
      <%= Time.now.strftime("%a, %b %d, %Y %I:%M %p") %> - Updated
    </div>
  </td>
</tr>
