<tr id="foot">
  <td colspan="4">
    <ul id="supost-links">
      <li><%= link_to 'buy job post', buy_job_post_link %></li>
      <li><%= link_to 'about', about_path %></li>
      <li><%= link_to 'contact', contact_path %></li>
      <li><%= link_to 'privacy', privacy_path %></li>
      <li><%= link_to 'terms', terms_path %></li>
      <li><%= link_to 'help', help_path %></li>
    </ul>

    <div id="disclaimer">
      <div>a Greg Wientjes production</div>
      <div>SUpost is not sponsored by, endorsed by, or affiliated with Stanford University.</div>
      <div>SUpost &copy; 2009</div>
    </div>
  </td>
</tr>
