<tr id="header">
  <td id="h0"><%= link_to image_tag('site/SUPostLogo.gif'), root_path %></td>

  <td id="h1">
    <div id="head">
      <%= form_tag search_path, :method => :get do %>
        <%= text_field_tag :q, nil, :class => 'searchText' %>
        <%= submit_tag "Search", :name => nil %>
      <% end %>
    </div>
  </td>

  <td id="h_new">
    <div class="header_school">Stanford, California</div>
  </td>

  <td id="h2">
    <div class="post_button">
      <table>
        <tr>
          <td><%= link_to "post", new_post_path %></td>
        </tr>
      </table>
    </div>
  </td>
</tr>
