<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta name="apple-itunes-app" content="app-id=590013767" />

  <meta property="fb:app_id" content="435279596523669" />
  <meta property="fb:admins" content="205600" />
  <meta property="og:site_name" content="SUpost" />
  <meta property="og:type" content="product" />
  <meta property="og:url" content="<%= request.url %>" />

  <%= csrf_meta_tag %>

  <title>SUpost: Marketplace for Stanford Students</title>

  <link rel="shortcut icon" href="<%= image_path 'site/favicon.ico' %>" />

  <%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag :defaults %>

  <% if @google_ad_manager %>
    <%= render :partial => '/shared/google_ad_manager' %>
  <% end %>

  <%= yield :head %>
</head>
<body>
  <% if @facebook %>
    <%= render :partial => '/shared/facebook' %>
  <% end %>

  <table id="universe">
    <%= render :partial => '/layouts/header' %>
    <%= render :partial => '/layouts/breadcrumb' %>

    <tr>
      <td colspan="4">
        <%= flash[:notify] %>
        <%= yield %>
      </td>
    </tr>

    <%= render :partial => '/layouts/footer' %>
  </table>

  <%= render :partial => '/shared/google_analytics' %>

  <%= yield :tail %>
</body>
</html>
